
.container{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: whitesmoke;
}
.board {
  background: white;
  border-top: 1px solid grey;
  border-left: 1px solid grey;
}
button.square {
  width: 28px;
  height: 100%;
  background: none;
  border: 1px solid grey;
  border-left: none;
  border-top: none;
  cursor: pointer;
  padding: 0;
}
button.square:focus{
  outline: none;
}

.board--row {
  height: 28px;
  display: flex;
}

.turn {
  width: 200px;
  text-align: center;
  margin-bottom: 110px;
  position: relative;
  
}
.turn .left{
  margin-right: 40px;
}
.turn .right{
  margin-left: 40px;
}

.symbol {
  margin-top: 40px;
  font-size: 60px;
  font-weight: bold;
}
.turn-animation{
  left: 50%;
    margin-left: -50px;
    top: -10px;
    position: absolute;
  animation: jump-up 1s;
  animation-iteration-count: infinite;
}
@keyframes jump-up{
  0% {
    transform: translateY(10px);
  }
  40% {
    transform: translateY(-10px);
  }
  100%{
    transform: translateY(10px);
  }
}

/* Modal */
.modal {
  outline: none;
  background: white;
  font-size: 1.6rem;
  width: 36rem;
  max-width: 90%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  z-index: 15;
  height: 30rem;
  border-radius: 4px;
  will-change: transform;
  transform: translate3d(0, 0, 0);
  position: relative;
}

@media (max-width: 768px) {
  .modal {
    width: 100%;
    max-width: 100%;
    margin-bottom: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
}

.card-custom{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;

}

.btn{
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  padding: 10px;
  outline: none;
  transition: all 0.25s linear 0s;
}
.btn-restart{
  color: white;
  background: rgb(0, 162, 255);
  margin-top: 36px;
}
.btn-close{
  position: absolute;
  right: 8px;
  top: 8px;
  background: white;
  color: #797979;
  border-radius: 50%;
  border: 1px solid #e4e4e4;
  padding: 4px 10px;
  font-size: 20px;
  font-weight: 400;
  box-shadow: 1px 1px 2px #808080;
}
.btn-close:hover{
  background: whitesmoke;
}
.btn-close div{
  margin-top: -2px;
}
.card .symbol{
  font-size: 90px;
}

.image-container img{
  width: 28px;
  height: 28px;
}

.custom-location{
  position: absolute;
    bottom: 30px;
    right: 40px;
}

.step-move-container{
  position: absolute;
  right: 40px;
  top: 100px;
}
.step-move{
  list-style: none;
  height: 400px;
  overflow-y: scroll;
  
}

.btn-step{
  width: 140px;
}
.btn-step:hover, .current{
  background: rgb(0, 162, 255);
  color: white;
}
.step-move li{
  margin-bottom: 12px;
  width: 150px;
  position: relative;
}

.step-move::-webkit-scrollbar {
  width: 6px;
}

.step-move::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
.step-move::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 10px;
}

.step-move::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.highlight{
  background: #87fff478!important;
}

.btn-change{
  margin-bottom: 8px;
  margin-left: 48px;
  background: white;
  border: 1px solid #d8d8d8;
}
.btn-change:hover{
  background: #a9a9a9!important;
  color: white;
}